## VSCODE ##
.vscode/
.vscode*

## COMPILATION ##
*.cmd
*.cmd.*
*.mod
*.mod.*
*.o
*.o.*
*.ko
*.ko.*
*.symvers
*.order
a.out

## LATEX ##
# File sorgenti
*.sty

# File generati dalla compilazione
*.aux
*.log
*.synctex.gz
*.out
*.toc
*.lof
*.lot
*.lol
*.fls
*.fdb_latexmk

original/
test/